primary = #0d85be
main = #000
gray = #f0f2f5

a
	color primary
	transition color .2s
	&:hover,
	&.active
		color primary

.btn
	&.btn-primary
		background-color primary
		border-color primary
		&:hover
			background-color primary
			border-color primary
	&.btn-slider
		height 5rem
		line-height 5rem
		padding 0 6rem
		font-size 2.4rem